{%extends "gallery/base.html"%}

{%block content%}
<div class="owl-carousel owl-theme">
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=251">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=252">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=244">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=254">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=255">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=256">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=257">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=258">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=259">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=260">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=261">
    </div>
    <div class="item">
        <img class="img-fluid image" src="https://unsplash.it/1200/768.jpg?image=263">
    </div>
</div>

<section class="gallery-block compact-gallery">
    <div class="container">
        <div class="row no-gutters">
            {%for photo in photos%}
            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                <a class="lightbox" href="{{photo.image.cdn_url}}" data-caption="{{photo.name}}: {{photo.description}}">
                    <img class="img-fluid image" src="{{photo.image.cdn_url}}">
                    <span class="description">
                        <span class="description-heading">{{photo.name}}</span>
                        <span class="description-body">{{photo.description}}</span>
                        <div style="display: flex;">
                            <p class="description-body"><span class="badge">
                                <i class="fas fa-map-marker-alt"></i> {{photo.location.city}}, {{photo.location.country}}
                            </span></p>
                            <span id="photo{{photo.id}}" hidden>{{photo.image.cdn_url}}</span>
                            <button onclick="copyToClipboard('photo{{photo.id}}')" class="btn no-border text-white"><i class="far fa-copy"></i></button>
                        </div>
                        <small style="font-size: 12px; float:right" class="ml-45"><i class="far fa-clock"></i> {{photo.post_date | timesince}} ago</small>  
                    </span>
                </a>
            </div>
            {%endfor%}
        </div>
    </div>
</section>
{%endblock%}