<div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-2">
        <hr class="style-one">
        <h1 class="text-center my-2 head">DAZZLE Inc.</h1>
    </div>
    <div class="col-lg-5"></div>
</div>

<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top shadow-sm p-3 mb-5 bg-white rounded"
    data-toggle="affix">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarsExample11"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarsExample11">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Browse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 no-radius" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-outline-dark my-2 my-sm-0 no-radius" type="submit"><i
                        class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
</nav>